<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Beep</title>
  </head>
  <body>
    <h1>Book Beep</h1>
    <p>This app is using ISBN from Swedish books and the database Libris to create a catalogue on DynamoDB.</p>

    <h3>Search the royal library database:</h3>
    <!-- BEGIN LIBRIS search box -->
      <div style="background: #191919 url(http://libris.kb.se/images/bg2_2.gif) bottom repeat-x; width: 80%;">
      <div style="background: url(http://libris.kb.se/images/main2_2.gif) no-repeat; width: 100%;">
        <form style="margin: 0; padding: 7px 0 11px 100px;" method="get" target="_blank" action="http://libris.kb.se/formatQuery.jsp?" accept-charset="UTF-8" onsubmit="window.open('http://libris.kb.se/formatQuery.jsp?SEARCH_ALL='+ encodeURIComponent(document.getElementById('LIBRIS_SEARCH2').value),'LIBRIS'); return false;">
          <fieldset style="margin: 0; padding: 0; border: none;">
            <legend style="margin: 0; padding: 0; display: none;">Sök i LIBRIS</legend>
            <div><input name="SEARCH_ALL" id="LIBRIS_SEARCH2" type="text" style="vertical-align: bottom; font-size: 11px; width: 70%;"/> <input type="submit" value="sök" style="vertical-align: bottom; cursor: pointer; font-size: 11px;"/></div>
          </fieldset>
        </form>
      </div>
    </div>
    <!-- END LIBRIS search box -->
    <p></p>
    <div>
      <h3>Enter here to add items to the library catalogue:</h3>
      <%= button_to "Book Beep Portal", main_path, method: :get, class: "solid button" %>
    </div>
    <h4>- där ditt bibliotek sparas på molnet</h4>

  </body>
</html>
