/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree .
*= require_self
*= require foundation_and_overrides

*/

@import 'settings';

body {
  background-image: image-url('bookbeep.png');

  // Only affects small screens
  @include breakpoint(small) {
    background-size: 3px;

  }
  // Only affects medium screens and up
  @include breakpoint(medium up) {
    background-size: 5px;
  }
}

.main-form {
  padding-bottom: 2%;
}

.small-item-list {
  width: 100%;
}

.date-column {
  width: 20%;
}

.flasher {
  background-image: none;
  background-color: #07AAD5;
}

#notice {
  padding: 1%;
}

header img {
  width:200px;
  padding: 2%;
}

.link-button {
  border-style: solid;
  border-color: #1779ba;
  border-width: 1px;
  border-radius: 5px;
  padding: 0.75%;
  color: darkgreen;
  background-color: #07AAD5;
}